

    <h2>User info</h2>
      <%= image_tag user.get_profile_image(63,63) %>
      
      			<table class="table">
              <tbody>
                <tr>
                  <th>name</th><th><%= user.name %></th>
                </tr>
                <tr>
                  <th>introduction</th><th><%= user.introduction %></th>
                </tr>
                <tr>
                  <th>follows</th><th><%=link_to user.followings.count, follows_user_path(user.id) %></th>
                </tr>
                <tr>
                  <th>followers</th><th><%=link_to user.followers.count, followers_user_path(user.id) %></th>
                </tr>
              </tbody>
            </table>
            
       
            
      <div class='row'>
        <% if current_user != user %>
            <% if @user.followed_by?(current_user) %>
              <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete, class: 'btn btn-success' %></p>
            <% else %>
              <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post, class: 'btn btn-success' %></p>
            <% end %>
         <% end %>
    	    <%= link_to edit_user_path(@user.id), class: 'btn btn-outline-secondary btn-block' do %>
    	      <i class="fas fa-user-cog"></i>
    	   
          <% end %>	
      </div>